.ListItem {
  color: darkcyan;
  display: flex;
  margin-bottom: 10px;
}

h1 {
  color: brown;
  font-weight: 100;
  font-size: large;
  margin: 0;
}

body {
  color: brown;
  background-color: #f0f0f0;
  font-family: "Lemon", serif;
}

.strikeThrough {
  text-decoration: line-through;
  color: rosybrown;
  flex: 2;
  text-align: left;
  margin-left: 10px;
}

.noStrike {
  flex: 2;
  text-align: left;
  margin-left: 10px;
}

.navLink {
  color: #fff;
  text-decoration: wavy;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.activeNavLink {
  background-color: coral;
  color: blue;
}

.addButton {
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.addButton:hover {
  background-color: darkgreen;
}

input {
  margin: 0;
}

.deleteIcon {
  color: grey;
  cursor: pointer;
  flex: 0;
}
